.done-task {
  text-decoration: line-through;
}

.undone-task {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

ul {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}